#p1 {
    font-family: 'Serif';
}

#p2 {
    font-size: 20px;
}

#p3 {
    font-weight: bold; 
}

#p4 {
    line-height: 80%;
}

#p5 {
    letter-spacing: 5px;
}

#p6 {
    font-family: 'Gugi', cursive;
}

#p7 {
    font-family: 'Oswald', sans-serif; 
}